:root {
    --color-grey:#bababa;
    --color-main: #585858;
    --color-background-lighter:#e4e4e4;
    --color-background-darker: #d3d3d3;
    --color-accent:#373e64;
    --color-accent-light:#6D76A3;
    }

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-laptop: 960px;
$bp-desktop: 1280px;