.home {
    padding-top: 0;

    background-color: var(--color-background-darker);

    &__body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;      
        
    @media screen and (min-width: 768px) {
        flex-direction: column;
        justify-content: space-between; 
    }
    }

    &__info {

        @media screen and (min-width: 768px) {
        margin-right: 130px;
        }
    }
    
    &__title {
        font-size: 28px;
        font-weight: 600; 
        line-height: 1.2;        
        color: var(--color-main);
        
     @media screen and (min-width: 768px) {
        padding-left: 100px;
        font-weight: 700;
        font-size: 32px;          
        }
    }
    
    &__subtitle {
        font-size: 32px;
        font-family: Kalam;
        font-weight: 700; 
        color: var(--color-accent);
            
        @media screen and (min-width: 768px) {
            font-size: 36px;
        }
    }
  
    &__subtitle_name {
        font-size: 32px;
        font-family: Kalam;
        font-weight: 700; 
        color: var(--color-main);
        
        @media screen and (min-width: 768px) {
            font-size: 36px;            
        }
    }

    &__btn {
    display: block;
    margin-bottom: 20px;
      
     @media screen and (min-width: 768px) {
        margin-left: 80px;
    }

 }
}









