.info {

    &__title {
        font-size: 18px;
        font-weight: 600;
        color: var(--color-main);
        margin-bottom: 15px;

    @media screen and (min-width: 768px) {
        font-size: 20px;
        font-weight: 700;
    }
    }
    
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    
     &__item .icon {
        fill: var(--color-accent-light);
        transition: fill, 0.3s;

        &:hover {
            fill: var(--color-accent);
        }

     @media screen and (min-width: 768px) {
        margin-right: 10px;         
        }

    }

    &__item .icon-pin {
        width: 20px;
        height: 20px;
        fill: var(--color-accent);
        
     @media screen and (min-width: 768px) {
        margin-right: 10px;
        width: 25px;
        height: 25px;    
        }

    }
    
    &__item span {
        font-size: 16px;
        font-weight: 300;
        color: var(--color-main);
    }
    
  }


