.skills {

  background-color: var(--color-background-darker);
  padding: 3px 0 3px 0;

&__name {
        font-size: 16px;
        font-weight: 700;
        color: var(--color-main);

    @media screen and (min-width: 768px) {
        font-size: 18px;
        font-weight: 700;
        }
    }

&__body {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
      }

      &__title {
        font-size: 24px;
        font-weight: 600;
        color: var(--color-main);
        white-space: nowrap;
        
        @media screen and (min-width: 768px) {
        font-size: 30px;
        font-weight: 600;
      }

      &::after {
        content: "";
        display: block;
        width: 100px;
        height: 3px;
        background-color: var(--color-accent-light);
  
        @media screen and (min-width: 768px) {
          width: 124px;
          height: 4px;
        }
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;       

    @media screen and (min-width: 768px) {
        margin: -10px 0px;
            }
    }
    
    &__item {
        width: 100%;
        padding: 10px 0;

    @media screen and (min-width: 768px) {
        padding: 20px 30px;
        }

    }
}